*, *::before, *::after {
    box-sizing: border-box; /* Ensure padding and borders are included in width and height calculations */
}

/* Book Cover Section */
.product-img-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    direction: ltr;
}

.product-img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ddd;
}

.product-description {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
     text-align: right; /* Align the book description text to the right */
     direction: rtl; /* Set text direction to right-to-left */
    max-width: 600px;
}

.book-quote {
    font-style: italic;
    color: #333;
    text-align: center;
}

.hero-button {
    background-color: #e68900;
    margin: 0 10px;
    position: relative;
    z-index: 2;
}
.hero-button:hover{
    background-color: #e68900;
}

.product-content {
    justify-content: center;
    padding: 20px;
    max-width: 80vw;
    margin: 0 auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    .product-img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
    .product-description {
        font-size: 1em;
        line-height: 1.4;
    }
    .product-img-section {
        flex-direction: column;
        text-align: center;
    }
    .hero-button {
        margin-bottom: 20px;
    }

}